.card {
    background-color: transparent;
    width: 60px;
    height: 60px;
    perspective: 1000px;
    cursor: pointer;
    animation: card-zoom-in 1s ease-out;
}

.card:active {
    transform: scale(0.8);
    transition-duration: 0.2s;
}

.card--inner {
    position: relative;
    width: 100%;
    height: 100%;

    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;

    background-color: #FFFFFF;
    
    border-radius: 12px;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* card active here */
.card.card--opened .card--inner,
.card.card--match .card--inner{
    transform: rotateY(180deg);
}

.card.card--foo .card--inner {
    animation: first-rotate 1s ease-out 2;
}

.card--front,
.card--back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    object-fit: contain;

    border-radius: 12px;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card--front {
    color: black;
    font-size: 20px;
}

.card--back {
    background-color: white;
    color: white;
    transform: rotateY(180deg);
}

@keyframes first-rotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes card-zoom-in {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);

    }
}